@use './variables';

$va-config--font-size: variables.$va-font-size--base;
$va-config--line-height: variables.$va-line-height--default;
$va-config--font-size-default-map: variables.$va-font-size--desktop;
