// This file is supposed to set the basic HTML element styles required for the current project.
// Styles to unify behaviours across browsers should be defined in '_basics.scss'.
// Styles that can be applied by classes on the element or its parent should be defined in '_globals.scss'.
@use './variables';
@use './mixins';

html,
body {
  height: 100%;
  background-color: variables.$va-color-grayscale--1000;
  font-family: var(--theme-font-family--text);
  font-size: var(--theme-font-size--base);
  color: var(--theme-font-color--text);
}

h1 {
  @include mixins.heading-h1();
}

h2 {
  @include mixins.heading-h2();
}

h3 {
  @include mixins.heading-h3();
}

h4 {
  @include mixins.heading-h4();
}

h5 {
  @include mixins.heading-h5();
}

h6 {
  @include mixins.heading-h6();
}

// Show browser based input style, if no classes available.
input:not([class]),
textarea:not([class]),
select:not([class]) {
  all: revert;
}
