// Font family
$va-font-family--headline: var(--theme-font-family--headline) !default;
$va-font-family--text: var(--theme-font-family--text) !default;

// Font color
$va-font-color--headline: var(--theme-font-color--headline) !default;
$va-font-color--text: var(--theme-font-color--text) !default;

// Font weight
$va-font-weight--light: 200 !default;
$va-font-weight--regular: 400 !default;
$va-font-weight--semi-bold: 600 !default;
$va-font-weight--bold: 700 !default;
$va-font-weight--heavy: 900 !default;

$va-font-weight: (
  'light': $va-font-weight--light,
  'regular': $va-font-weight--regular,
  'semi-bold': $va-font-weight--semi-bold,
  'bold': $va-font-weight--bold,
  'heavy': $va-font-weight--heavy,
) !default;

// Font size
$va-font-size--base: 16px !default;
$va-font-size--8: 8px !default;
$va-font-size--10: 10px !default;
$va-font-size--12: 12px !default;
$va-font-size--14: 14px !default;
$va-font-size--16: 16px !default;
$va-font-size--18: 18px !default;
$va-font-size--24: 24px !default;
$va-font-size--30: 30px !default;
$va-font-size--32: 32px !default;

// Based on best practices from: https://typescale.com/
// Font set: large
// Common use-case: desktop
$va-font-size-major--third: (
  'regular': 1rem,
  'h1': 3.815rem,
  'h2': 3.052rem,
  'h3': 2.441rem,
  'h4': 1.953rem,
  'h5': 1.563rem,
  'h6': 1.25rem,
  'small': 0.8rem,
  'extra-small': 0.64rem,
) !default;

// Common use-case: tablet / phone
$va-font-size-major--second: (
  'regular': 1rem,
  'h1': 2.027rem,
  'h2': 1.802rem,
  'h3': 1.602rem,
  'h4': 1.424rem,
  'h5': 1.266rem,
  'h6': 1.125rem,
  'small': 0.889rem,
  'extra-small': 0.79rem,
) !default;

// Font set: large
// Common use-case: desktop
$va-font-size-minor--third: (
  'regular': 1rem,
  'h1': 2.986rem,
  'h2': 2.488rem,
  'h3': 2.074rem,
  'h4': 1.728rem,
  'h5': 1.44rem,
  'h6': 1.2rem,
  'small': 0.833rem,
  'extra-small': 0.694rem,
) !default;

// Common use-case: tablet / phone
$va-font-size-minor--second: (
  'regular': 1rem,
  'h1': 1.476rem,
  'h2': 1.383rem,
  'h3': 1.296rem,
  'h4': 1.215rem,
  'h5': 1.138rem,
  'h6': 1.067rem,
  'small': 0.937rem,
  'extra-small': 0.878rem,
) !default;

$va-font-size--desktop: $va-font-size-major--third !default;
$va-font-size--tablet: $va-font-size-minor--third !default;
$va-font-size--phone: $va-font-size-major--second !default;

// Line height
$va-line-height--default: 1.15em !default;
$va-line-height--text: 1.45em !default;
$va-line-height--headline: 1.15em !default;
$va-line-height--18: 18px !default;
$va-line-height--20: 20px !default;
$va-line-height--25: 25px !default;
$va-line-height--30: 30px !default;
