// Keep variables for better IDE support/auto complete
$va-spacing--0: 0 !default;
$va-spacing--1: 1px !default;
$va-spacing--2: 2px !default;
$va-spacing--5: 5px !default;
$va-spacing--10: 10px !default;
$va-spacing--15: 15px !default;
$va-spacing--20: 20px !default;
$va-spacing--25: 25px !default;
$va-spacing--30: 30px !default;
$va-spacing--35: 35px !default;
$va-spacing--40: 40px !default;
$va-spacing--45: 45px !default;
$va-spacing--50: 50px !default;
$va-spacing--55: 55px !default;
$va-spacing--60: 60px !default;
$va-spacing--70: 70px !default;
$va-spacing--80: 80px !default;
$va-spacing--90: 90px !default;
$va-spacing--100: 100px !default;
$va-spacing--200: 200px !default;

$va-spacings: (
  $va-spacing--0,
  $va-spacing--5,
  $va-spacing--10,
  $va-spacing--15,
  $va-spacing--20,
  $va-spacing--25,
  $va-spacing--30,
  $va-spacing--40,
  $va-spacing--50,
  $va-spacing--55,
  $va-spacing--60,
  $va-spacing--70,
  $va-spacing--80,
  $va-spacing--90,
  $va-spacing--100,
  $va-spacing--200
) !default;

// Modern
$va-spacing-rem--0: 0 !default;
$va-spacing-rem--0-25: 0.25rem !default;
$va-spacing-rem--0-5: 0.5rem !default;
$va-spacing-rem--0-755: 0.75rem !default;
$va-spacing-rem--1: 1rem !default;
$va-spacing-rem--2: 2rem !default;
$va-spacing-rem--3: 3rem !default;
$va-spacing-rem--4: 4rem !default;
$va-spacing-rem--5: 5rem !default;
