// Keep variables for better IDE support/auto complete
$va-spacing--0: 0;
$va-spacing--1: 1px;
$va-spacing--2: 2px;
$va-spacing--5: 5px;
$va-spacing--10: 10px;
$va-spacing--15: 15px;
$va-spacing--20: 20px;
$va-spacing--25: 25px;
$va-spacing--30: 30px;
$va-spacing--35: 35px;
$va-spacing--40: 40px;
$va-spacing--45: 45px;
$va-spacing--50: 50px;
$va-spacing--55: 55px;
$va-spacing--60: 60px;
$va-spacing--70: 70px;
$va-spacing--80: 80px;
$va-spacing--90: 90px;
$va-spacing--100: 100px;
$va-spacing--200: 200px;

$va-spacings: (
  $va-spacing--0,
  $va-spacing--5,
  $va-spacing--10,
  $va-spacing--15,
  $va-spacing--20,
  $va-spacing--25,
  $va-spacing--30,
  $va-spacing--40,
  $va-spacing--50,
  $va-spacing--55,
  $va-spacing--60,
  $va-spacing--70,
  $va-spacing--80,
  $va-spacing--90,
  $va-spacing--100,
  $va-spacing--200
);

// Modern
$va-spacing-rem--0: 0;
$va-spacing-rem--0-25: 0.25rem;
$va-spacing-rem--0-5: 0.5rem;
$va-spacing-rem--0-755: 0.75rem;
$va-spacing-rem--1: 1rem;
$va-spacing-rem--2: 2rem;
$va-spacing-rem--3: 3rem;
$va-spacing-rem--4: 4rem;
$va-spacing-rem--5: 5rem;
