// Transition variables in ms
$va-transition-duration--100: 100ms;
$va-transition-duration--200: 200ms;
$va-transition-duration--300: 300ms;
$va-transition-duration--500: 500ms;
$va-transition-duration--700: 700ms;

$va-transition-duration: (
  '100': $va-transition-duration--100,
  '200': $va-transition-duration--200,
  '300': $va-transition-duration--300,
  '500': $va-transition-duration--500,
  '700': $va-transition-duration--700,
);
