// Transition variables in ms
$va-transition-duration--100: 100ms !default;
$va-transition-duration--200: 200ms !default;
$va-transition-duration--300: 300ms !default;
$va-transition-duration--500: 500ms !default;
$va-transition-duration--700: 700ms !default;

$va-transition-duration: (
  '100': $va-transition-duration--100,
  '200': $va-transition-duration--200,
  '300': $va-transition-duration--300,
  '500': $va-transition-duration--500,
  '700': $va-transition-duration--700,
) !default;
