@use 'sass:map';
@use '../variables';
@use './font-size' as font;

// Notice, this is an example
// Update definition for your project.
%heading-base {
  font-family: var(--theme-font-family--headline);
  font-weight: variables.$va-font-weight--heavy;
  line-height: variables.$va-line-height--headline;
}

@mixin heading-h1 {
  @extend %heading-base;

  @include font.font-size-by-map('h1');
}

@mixin heading-h2 {
  @extend %heading-base;

  @include font.font-size-by-map('h2');
}

@mixin heading-h3 {
  @extend %heading-base;

  @include font.font-size-by-map('h3');
}

@mixin heading-h4 {
  @extend %heading-base;

  @include font.font-size-by-map('h4');
}

@mixin heading-h5 {
  @extend %heading-base;

  @include font.font-size-by-map('h5');
}

@mixin heading-h6 {
  @extend %heading-base;

  @include font.font-size-by-map('h6');
}
