@use 'sass:map';
@use '../variables';
@use './font-size' as font;

/// Base styles for headings.
///
/// This placeholder defines shared styles for all headings,
/// including font-family, font-weight, and line-height.
%heading-base {
  font-family: var(--theme-font-family--headline);
  font-weight: variables.$va-font-weight--heavy;
  line-height: variables.$va-line-height--headline;
}

/// Dynamically generates heading styles for a given level.
///
/// @param {string} $level The heading level (e.g., `h1`, `h2`, `h3`).
/// @throws An error if an invalid heading level is provided.
/// @example
/// ```scss
/// h1 {
///   @include heading-h1;
/// }
///
/// h2 {
///   @include heading-h2;
/// }
/// --- or ---
/// h2 {
///   @include heading('h2');
/// }
/// ```
@mixin heading($level) {
  @if not ($level == 'h1' or $level == 'h2' or $level == 'h3' or $level == 'h4' or $level == 'h5' or $level == 'h6') {
    @error "@valantic-scss-utils -- 'heading()': Invalid heading level '#{$level}'. Allowed values are: h1, h2, h3, h4, h5, h6.";
  }

  @extend %heading-base;

  @include font.font-size-by-map($level);
}

/// @deprecated
/// Generate specific heading mixins for `h1` through `h6`.
/// These mixins are backward-compatible with the original implementation.
@each $heading in ('h1', 'h2', 'h3', 'h4', 'h5', 'h6') {
  @mixin heading-#{$heading} {
    @warn "@valantic-scss-utils -- 'heading()': DEPRECATED heading-#{$heading}() use heading('#{$heading}') instead";

    @include heading($heading);
  }
}
