@use 'sass:math';
@use 'sass:meta';
@use '../functions';
@use '../lib';

/// Calculates a unitless `line-height` value based on the given pixel values for `$line-height` and `$font-size`.
///
/// Ensures the ratio between the line height and font size is maintained for better typography scaling.
///
/// @param {number} [$line-height=1.15] The desired line height (can be unitless or include a unit like `px`).
/// @param {number} [$font-size=16px] The font size in pixels (must be greater than 0).
///
/// @throws An error if `$line-height` or `$font-size` are not valid numbers, or if `$font-size` is less than or equal to 0.
///
/// @example
/// ```scss
/// @include line-height(24px, 16px); // Outputs: line-height: 1.5;
/// @include line-height(1.5, 16px);  // Outputs: line-height: 0.09375;
/// @include line-height();           // Outputs: line-height: 0.071875;
/// ```
@mixin line-height($line-height: 1.15, $font-size: 16px) {
  @if meta.type-of($line-height) != 'number' {
    @error lib.throw-error(
        '@mixin line-height',
        "'$line-height' must be a number.",
        #{meta.type-of($line-height)}
    );
  }

  @if meta.type-of($font-size) != 'number' {
    @error lib.throw-error(
        '@mixin line-height',
        "'$font-size' must be a number.",
        #{meta.type-of($font-size)}
    );
  }

  @if functions.strip-unit($font-size) <= 0 {
    @error lib.throw-error(
        '@mixin line-height',
        "'$font-size' must be greater than 0.",
        $font-size
    );
  }

  $line-height-value: functions.strip-unit($line-height);
  $font-size-value: functions.strip-unit($font-size);

  line-height: math.div($line-height-value, $font-size-value);
}
