@use 'sass:meta';
@use 'sass:map';
@use 'sass:list';
@use '../variables';

////
/// Creates a media query based on breakpoints or absolute values.
///
/// - `$up` defines the **minimum width** (inclusive).
/// - `$down` defines the **maximum width** (exclusive).
/// - Both `$up` and `$down` can be:
///     - A named breakpoint from `$breakpoints` (e.g., `md`, `lg`).
///     - A numeric value with units (e.g., `768px`).
///
/// @param {string|number} [$up=null] Minimum width.
/// @param {string|number} [$down=null] Maximum width.
/// @param {string} [$media=all] Media type (e.g., `screen`, `print`).
/// @param {map} [$breakpoints=variables.$va-breakpoints] Breakpoint map.
///
/// @throws Error if invalid `$up` or `$down` values are provided.
///
/// @example
/// ```scss
/// $va-breakpoints: (
///   'xs': 480px,
///   'sm': 768px,
///   'md': 1024px,
///   'lg': 1280px
/// );
///
/// // Usage:
/// @include media('sm', 'lg') { ... } // Between 768px and 1279px.
/// @include media(null, 'md') { ... } // Up to 1023px.
/// @include media('lg', null) { ... } // From 1280px.
/// ```
////
@mixin media($up: null, $down: null, $media: all, $breakpoints: variables.$va-breakpoints) {
  // Validate inputs
  $upValue: if ($up, validate-up($up, $breakpoints), null);
  $downValue: if ($down, validate-down($down, $upValue, $breakpoints), null);

  // Build the query
  $query: if ($media == all, 'all', 'only #{$media}');

  @if $upValue {
    $query: $query + ' and (min-width: #{$upValue})';
  }

  @if $downValue {
    $query: $query + if (meta.type-of($down) == 'number', ' and (max-width: #{$downValue})', ' and (max-width: #{$downValue - 1px})');
  }

  // Final media query
  @media #{$query} {
    @content;
  }
}

// Helper functions
@function validate-up($up, $breakpoints) {
  $isUpNumber: meta.type-of($up) == 'number';
  $upValue: if ($isUpNumber, $up, false) or map.get($breakpoints, $up);

  @if not($up) or ($up and $upValue) {
    @return $upValue;
  }

  @error "@valantic-scss-utils -- 'media()': Invalid $up value '#{$up}'. Must be a named breakpoint or numeric value.";
}

@function validate-down($down, $upValue, $breakpoints) {
  $isDownNumber: meta.type-of($down) == 'number';
  $downValue: if ($isDownNumber, $down, false) or map.get($breakpoints, $down);

  @if not($down) or ($down and $downValue > $upValue) {
    @return $downValue;
  }

  @error "@valantic-scss-utils -- 'media()': Invalid $down value '#{$down}'. Must be greater than $up.";
}
