html,
body {
  height: 100%;
  background-color: var(--theme-color-grayscale--1000);
  font-family: var(--theme-font-family--text);
  font-size: var(--theme-font-size--base);
  color: var(--theme-font-color--text);
}
