@use 'sass:math';
@use 'sass:meta';

/// Removes the unit from a number.
///
/// Supported input types:
/// - Numbers with units (e.g., `10px`, `5rem`)
/// - Unitless numbers (e.g., `10`)
///
/// Throws an error for non-numeric inputs.
///
/// @param {number} $number Length to remove the unit from.
///
/// @return {number} Unitless number.
@function strip-unit($number) {
  @if meta.type-of($number) != 'number' {
    @error "@valantic-scss-utils -- 'strip-unit': Expected a number, but got #{meta.type-of($number)}.";
  }

  @if math.is-unitless($number) {
    @return $number;
  }

  @return math.div($number, ($number * 0 + 1));
}
